@font-face {
  font-family: Hackney;
  src: url(./fonts/HackneyPersonalUseOnly.ttf);
}

@font-face {
  font-family: PersonalServices;
  src: url(./fonts/Personal\ Services.ttf);
}

* {
  font-size: 2vw;

}

body {
  font-family: "Hackney";
  transform-style: preserve-3d;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(./images/menu.jpg);
}

h1 {
  font-size: 5vw;
}


.Home,
.Login,
.Register,
.CardPacks,
.NotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}

.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.cardpack-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  text-align: center;
  margin: 5%;

}



.white {
  color: white;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-family: "Hackney";
  background: none;
  transition-duration: 0.5s;

}

.form-button:hover {
  transition-duration: 0.5s;
  animation-name: buttonHover;
  animation-duration: 0.5s;
}

@keyframes buttonHover {
  0% {
    background-position: 1% 1%;
  }

  100% {
    background-position: 10% 10%;
  }
}

.cards-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 50%;
}

.card {
  background-color: transparent;
  width: 15vw;
  height: 25vw;
  perspective: 1000px;
  transition: 0.6s ease-in-out;
}

.power {
 width: 80%;
 text-align: right;
 font-size: 4vw;
}
.card-content {
  position: relative;
  border-radius: 3vw;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.hover {
  cursor: grab;
  transition: 0.6s ease-in-out;
}

.rotate {
  transform: rotateY(180deg);
}

.cardframe {
  border-radius: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back,
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);

  border: 8px solid silver;
  border-radius: 2vw;

}

.front {
  transform: rotateY(180deg);
}

.card-front-content{
  font-family: PersonalServices;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;

}

h2 {
  font-size: 1.5vw;
}
.cardframe:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 50%;
  border-radius: 1.2vw;
  mix-blend-mode: multiply;
  background: url(https://media.macphun.com/img/uploads/customer/blog/1541154551/15411554815bdc2a99267047.50976593.jpg?q=85&w=1680);
}

.Common .front {
  border: 8px inset silver;
  border-radius: 2vw;
}

.Uncommon .front {
  border: 8px inset green;
  border-radius: 2vw;
}

.Rare .front {
  border: 8px inset rgb(25, 122, 233);
  border-radius: 2vw;
}

.Ultra-Rare .front::before {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  background: linear-gradient(45deg,
      gold,
      #bb510b,
      rgb(255, 255, 255),
      goldenrod,
      #ff8d2f);
  border-radius: 2vw;
  background-size: 300%;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  z-index: -1;
  animation: animateEdgeBackground 30s ease-in-out infinite;
  mix-blend-mode: overlay;
}

@keyframes animateEdgeBackground {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.Common:hover {
  box-shadow: 0 0 20px 10px white;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.Uncommon:hover {
  box-shadow: 0 0 20px 10px green;

  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.Rare:hover {
  box-shadow: 0 0 30px 10px #fff,
    /* inner white */
    0 0 30px 30px blue,
    /* middle magenta */
    0 0 20px 10px cyan;
  /* outer cyan */
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.Ultra-Rare:hover {
  box-shadow: 0 0 30px 15px #fff, 0 0 50px 30px gold, 0 0 70px 45px goldenrod;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.back-icon {
  mix-blend-mode: multiply;
}

.front-icon {
  opacity: 100%;
  mix-blend-mode: overlay;
}

.Tempest {
  background: url(https://i.pinimg.com/originals/c6/a8/9d/c6a89d990f0055ec4035db19c0df0668.jpg) no-repeat center center / cover;
}

.Phoenix {
  background: url(https://i.pinimg.com/originals/4e/43/09/4e4309728598bfc1b06d6681e38502ff.jpg) no-repeat center center / cover;
}

.Phantom {
  background: url(https://i.pinimg.com/originals/52/e4/88/52e48892c471b8575b71b2ec81d21538.jpg) no-repeat center center / cover;
}

.Scorch {
  background: url(https://i.pinimg.com/originals/4f/9c/ef/4f9cef22478edd093eb6a74182758c6c.jpg) no-repeat center center / cover;
}

.Viper {
  background: url(https://i.pinimg.com/originals/94/62/11/946211b32aedb9d1a21adfba4adc81df.jpg) no-repeat center center / cover;
}

.Nightrunner {
  background: url(https://i.pinimg.com/736x/18/ed/74/18ed74b95a0c3856087ff62b9de76175--cyberpunk-character-shooter-games.jpg) no-repeat center center / cover;
}

.Archangel {
  background: url(https://cdna.artstation.com/p/assets/images/images/018/922/450/medium/aimy-anne-calilung-character-post-apoc-female-b.jpg?1561277164) no-repeat center center / cover;
}

.Ghost {
  background: url(https://i.pinimg.com/originals/6b/f4/da/6bf4da99007d304f76d46ff8e7f7ad46.jpg) no-repeat center center / cover;
}

.Raiden {
  background: url(https://i.pinimg.com/originals/71/ff/e2/71ffe2e22795d6ca9b80da4e9fd154c8.jpg) no-repeat center center / cover;
}

.Nomad {
  background: url(https://i.pinimg.com/originals/50/fa/c7/50fac7e383458e9360faa499f27819d1.jpg) no-repeat center center / cover;
}

.disabled {
  opacity: 0;
}

.tilt-in-top-1 {
	-webkit-animation: tilt-in-top-1 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-1 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-22 16:1:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-top-1
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}


.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 1.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 1.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-22 16:30:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


