body {
  font-family: "Chelsea Market", cursive;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  border: 0;
  background: 0;
  font-family: "Chelsea Market", cursive;
}
